## Cutting 21% VIP customer of PChome

In [1]:
# Import package
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
# print current working directory
print(os.getcwd())

C:\Users\User\Desktop\2020_DataPilot\Code

In [3]:
# Change working directory
os.chdir('C:\\Users\\User\\Desktop\\2020_DataPilot\\Data\\PChome_Data') 
print(os.getcwd())

C:\Users\User\Desktop\2020_DataPilot\Data\PChome_Data

In [4]:
#Import data
PChome = pd.read_csv('PChome_flat.csv', encoding = 'Big5')
PChome.head()

,member_id,3C,休閒,周邊,家電,數位,日用,時尚,書店,生活,美妝保健,衣鞋包錶,運動戶外,食品,Buy_Amount,Region
0,91,2900.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2900,臺南市
1,549,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2090.0,0.0,0.0,0.0,0.0,2090,臺南市
2,1655,2799.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2799,臺南市
3,2241,439.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,586.0,0.0,0.0,0.0,0.0,1025,高雄市
4,2988,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,786.0,0.0,0.0,0.0,0.0,786,屏東縣

In [5]:
#Import 21% data
PChome_21 = pd.read_csv('Member pq-pareto-21.txt', sep = '\t', encoding = 'utf-8')
PChome_21 = PChome_21.drop(['Percent_of_customers', 'Percent_of_Total_Running_Sum_of_P_Q', 'P_Q'], axis = 1)
PChome_21 = PChome_21.rename(columns={"Member_Id": "member_id"})
PChome_21.head()

   member_id
0    2400440
1   17871662
2   14685763
3   17719417
4   14255682

In [8]:
# Region
PChome_21_W_REGION = PChome_21.merge(PChome, how = 'left').set_index('member_id')

In [12]:
# Split the subgroups
PChome_21_Kaohsiung = PChome_21_W_REGION.loc[PChome_21_W_REGION['Region'] == '高雄市']
PChome_21_Chiayi = PChome_21_W_REGION.loc[(PChome_21_W_REGION['Region'] == '嘉義市')|(PChome_21_W_REGION['Region'] == '嘉義縣')]
PChome_21_Tainan = PChome_21_W_REGION.loc[PChome_21_W_REGION['Region'] == '臺南市']
PChome_21_Pingtung = PChome_21_W_REGION.loc[PChome_21_W_REGION['Region'] == '屏東縣']

In [14]:
# To_csv
PChome_21_Kaohsiung.to_csv('PChome_21_Kaohsiung.csv')
PChome_21_Chiayi.to_csv('PChome_21_Chiayi.csv')
PChome_21_Tainan.to_csv('PChome_21_Tainan.csv')
PChome_21_Pingtung.to_csv('PChome_21_Pingtung.csv')